<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Online Store</a>
  </div>
  <div class="container">
    <ul class="nav navbar-nav">
        <li>{{#link-to 'category'}}View Categories{{/link-to}}</li>
        <li>{{#link-to 'shopping-cart'}}View Cart{{/link-to}}</li>
      </ul>
  </div>
</nav>
<div class="container main-content">
  {{outlet}}
</div>
</div>
